@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --vpale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --colour-hover: hsl(233, 79%, 68%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  background-color: var(--pale-blue);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 437px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

img {
  display: block;
}

/* Card */

.card {
  width: min(87.2%, 28.125rem);
  margin: 6.4rem auto 5.15rem;
  background-color: var(--white);
  color: var(--desaturated-blue);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 3rem hsla(245, 75%, 52%, 0.15);
}

.text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.6rem 3rem;
}

.title {
  color: var(--dark-blue);
  font-size: 1.75rem;
  margin-bottom: 0.9rem;
  font-weight: 900;
  letter-spacing: 0.001em;
}

.main-text {
  font-size: 1rem;
  letter-spacing: 0.005em;
}

.plan {
  background-color: var(--vpale-blue);
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  align-items: center;
  padding: 1.5rem;
  border-radius: 12px;
  margin: 1.25rem auto 1rem;
  width: 100%;
  font-size: 1rem;
  gap: 1.25rem;
}

.plan-title {
  color: var(--dark-blue);
  font-weight: 900;
  text-align: left;
}

.change {
  text-align: right;
}

.change-link {
  color: var(--bright-blue);
  text-decoration: underline;
  font-weight: 700;
  font-size: 0.9rem;
}

.change-link:hover {
  cursor: pointer;
  color: var(--colour-hover);
  text-decoration: none;
}

.proceed {
  background-color: var(--bright-blue);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: 900;
  box-shadow: 0 1rem 2rem hsla(245, 75%, 52%, 0.2);
  width: 100%;
  font-size: 0.8rem;
}

.proceed:hover {
  cursor: pointer;
  background-color: var(--colour-hover);
}

.cancel {
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 0.02em;
  margin: 1.8rem 0 0.4rem;
}

.cancel:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

/* Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(--bright-blue);
}

.attribution a:hover {
  color: hsl(--colour-hover);
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  .title {
    margin-top: 1.5rem 0;
  }

  .card {
    margin: 5rem auto;
    /* width: min(90%, 330px); */
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .main-text {
    font-size: 0.9rem;
  }

  .plan {
    width: 85%;
    font-size: 0.9rem;
  }

  .proceed {
    width: 85%;
  }

  .change-link {
    font-size: 0.8rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .plan {
    flex-direction: column;
  }

  .plan-icon {
    margin-inline: auto;
  }

  .change-link {
    margin-inline: auto;
  }
}
